@charset "UTF-8";
/*==============================================================================

 Variables SCSS.

  Design Concept
 ãƒ»FLOCCS
  => https://github.com/hiloki/flocss

==============================================================================*/
// BreakPoints.
$smallMobileWidth: '325px';
$mobileWidth: '480px';
$largeMobileWidth: '768px';
$tabletWidth: '991px';
$desktopWidth: '1170px';
$largeDesktopWidth: '1392px';