@charset "UTF-8";
@import '../../foundation/mixins';
/*==============================================================================

 Utilities SCSS.

 Design Concept
・FLOCCS
 => https://github.com/hiloki/flocss

  Naming Conventions
  ・Prefix
   => u-
  ・If concatenate class name, using kebab-case only.
   => .u-inline-block-pc {}

  Usage
   <div class="u-pc"></div>

==============================================================================*/
.u-sp {
  display: block;
}

.u-tablet {
  display: block;
}

.u-pc {
  display: none;
}
@include largeMobile {
  .u-sp {
    display: none;
  }

  .u-tablet {
    display: block;
  }

  .u-pc {
    display: block;
  }
}
@include tablet {
  .u-sp {
    display: none;
  }

  .u-tablet {
    display: none;
  }

  .u-pc {
    display: block;
  }
}
